/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d5d0d6;
} */

/* Navbar */

.box {
    position: relative;
    width: 250px;
    height: 250px;
}

.drop-adv {
    position: relative;
    width: 100%;
    height: 60px;
    /* background: rgb(15 118 110); */
    color: black;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.drop-adv .left-icon,
.drop-adv .right-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 5px;
    background: black;
    border-radius: 40px;
    transition: .5s;
}

.drop-adv .left-icon {
    left: 7px;
    transform: rotate(45deg);
}

.drop-adv.active .left-icon {
    transform: rotate(135deg);
}

.drop-adv .right-icon {
    transform: rotate(-45deg);
}

.drop-adv.active .right-icon {
    transform: rotate(-135deg);
}

.drop-adv .items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    margin-top: 63px;
    overflow: hidden;
    visibility: hidden;
    transition: .5s;
}

.drop-adv.active .items {
    visibility: visible;
}

.drop-adv .items a {
    position: relative;
    left: 100%;
    display: flex;
    font-size: 20px;
    background: #fff;
    color: rgb(15 118 110);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 2.5px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    transition-delay: calc(60ms * var(--i));
}

.drop-adv.active .items a {
    left: 0;
}

.drop-adv .items a:hover {
    color: #fff;
}

.drop-adv .items a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(15 118 110);
    z-index: -1;
    border-radius: inherit;
    transform: rotate(160deg);
    transform-origin: right;
    transition: .5s;
}

.drop-adv .items a:hover span {
    transform: rotate(0deg);
}

/* END NAVBAR */

/* Neon Button */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
} */
a {
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #0ef;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #0ef;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
}
a:hover {
    transition-delay: 0s, 1s;
    color: black;
    box-shadow:
        0 0 10px #0ef,
        0 0 20px #0ef,
        0 0 40px #0ef,
        0 0 80px #0ef,
        0 0 160px #0ef;
}
a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #0ef;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
}
a:hover:before {
    width: 100%;
}

/* END BUTTON */